@model DTO.OtpDTO

@{
    ViewBag.Title = "DI : Forgot Password";
    Layout = null;
}

<link href="@Url.Content("~/Contents/Themes/Css/AdminLTE.min.css")" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/Contents/Themes/Css/font-awesome.min.css")" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/Contents/Themes/Css/bootstrap.min.css")" rel="stylesheet" type='text/css'>
<link href="@Url.Content("~/Contents/Themes/Css/material.min.css")" rel="stylesheet" type='text/css'>
<link href="@Url.Content("~/Contents/Themes/Css/demo.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Contents/Themes/Css/style2.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Contents/Themes/Css/style.css")" rel="stylesheet" type='text/css'>
<link href="@Url.Content("~/Contents/Themes/Css/component.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Contents/Themes/Css/main-color-1.css")" rel="stylesheet" type='text/css'>
<link href="@Url.Content("~/Contents/Themes/Css/Login.css")" rel="stylesheet" type='text/css'>
<script type="text/javascript">
    document.write('<link href="@Url.Content("~/Contents/Themes/Plugins/Confirm/Css/jquery-confirm.css")?' + Math.random() + '" rel="stylesheet" type="text/css">');
</script>

<style>
    font-face {
        font-family: 'password';
        font-style: normal;
        font-weight: 400;
    }

    #txtNewPassword {
        font-family: 'password';
        -webkit-text-security: disc !important;
        -mox-text-security: disc !important;
    }

    #txtNewConfPass {
        font-family: 'password';
        -webkit-text-security: disc !important;
        -mox-text-security: disc !important;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/Contents/Themes/Images/DI_LOGO.ico">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/Contents/Themes/Images/DI_LOGO.ico">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>
    <ul class="cb-slideshow">
        <li>
            <span>Image 01</span><div>
                <h3>X-Ray</h3>
            </div>
        </li>
        <li>
            <span>Image 02</span><div>
                <h3>MRI</h3>
            </div>
        </li>
        <li>
            <span>Image 03</span><div>
                <h3>PET-CT</h3>
            </div>
        </li>
        <li>
            <span>Image 04</span><div>
                <h3>Bone Scan</h3>
            </div>
        </li>
        <li>
            <span>Image 05</span><div>
                <h3>CT Scan</h3>
            </div>
        </li>
        <li>
            <span>Image 06</span><div>
                <h3>Medical Imaging</h3>
            </div>
        </li>
    </ul>
    <nav id="topNav2" class="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="@Url.Content("~/Contents/Themes/Images/DI_LOGO_WHITE.png")" alt="">
            </a>
        </div>
    </nav>

    <div class="">
        <div class="vc-parent">
            <div class="vc-child">
                <div class="">
                    <div class="container" style="width:50% !important;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header">
                                        <div class="row"><b><u>Forgot Password</u></b></div>
                                    </div>
                                    <!-- /.box-header -->
                                    <form role="form" id="forgotpwd" autocomplete="off">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-xs-12 form-group">
                                                    <div class="col-sm-4">
                                                        <label for="txtNewPassword">New Password *</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <input class="form-control loginPassword" id="txtNewPassword" name="Newpassword" placeholder="New Password" onblur="CheckValidation();" oncopy="return false" onpaste="return false" oncut="return false" AutoCompleteType="Disabled" />
                                                        <span id="NpwdErrmsg" style="color:red;"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 form-group">
                                                    <div class="col-sm-4">
                                                        <label for="txtNewConfPass">Confirm New Password *</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <input class="form-control loginPassword" id="txtNewConfPass" name="NewConpassword" placeholder="Confirm New Password" onblur="ConfCheckValidation();" oncopy="return false" onpaste="return false" oncut="return false" AutoCompleteType="Disabled" />
                                                        <span id="CofNpwdErrmsg" style="color:red;"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button class="login-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btneffect btn btn-primary" id="btnSubmit" type="button">
                                                        <span class="num">
                                                            <i class="fa fa-lock" style="line-height:45px;"></i>
                                                        </span>
                                                        submit
                                                        <i class="faf fa fa-sign-in"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mdl-card__actions mdl-card--border clearfix">
                                            <a href="javascript:void(0)" class="pull-right mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btnbacks" id="btnBacktoLogin">
                                                <img src="@Url.Content("~/Contents/Themes/Images/back.png")" alt="" style="margin-top:8px;">Exit
                                            </a>
                                        </div>
                                    </form>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="text-center ftr">
                <p id="copyRights"></p>
            </div>
        </footer>
    </div>

    <div class="modal fade" id="SuccessModal" tabindex="-1" role="dialog" aria-labelledby="signupFormModal" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document" style="margin-left: 33%;">
            <div class="mdl-card" style="min-height:50px;">
                <div class="mdl-card__supporting-text">
                    <p>Password Changed Successfully !!</p>
                </div>
                <div class="mdl-card__actions mdl-card--border clearfix">
                    <button type="button" id="btnSuccessToLogin" class="login-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btneffect btn btn-primary">
                        <span class="num">
                            <i class="fa fa-lock" style="line-height:45px;"></i>
                        </span>
                        OK
                        <i class="faf fa fa-check"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@Url.Content("~/Contents/Themes/Js/jquery-3.6.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Contents/Themes/Js/jquery-ui.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Contents/Themes/Js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Contents/Themes/Js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Contents/Themes/Js/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/General.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/MILogin.js")"></script>
    <script type="text/javascript">
        document.write('<scr' + 'ipt src="@Url.Content("~/Contents/Themes/Plugins/Confirm/Js/jquery-confirm.js")?' + Math.random() + '" type="text/javascript"></scr' + 'ipt>');
    </script>
    <script type="text/javascript" language="javascript">
        var ApiURL = "@System.Configuration.ConfigurationManager.AppSettings["Api_Url"].ToString()"
        var WebURL = "@System.Configuration.ConfigurationManager.AppSettings["Web_Url"].ToString()"
    </script>
    <input type="hidden" id="hdnUId" value="@Model.UserId" />
    <input type="hidden" id="hdnUName" value="@Model.Username" />
    <input type="hidden" id="hdnUserAgent" value="@ViewBag.hdnUserAgent" />
    <input type="hidden" id="hdnUserAgent" value="@ViewBag.hdnUserAgent" />

    <div class="modal fade" id="msgPopUp" role="dialog"></div>
</body>
@Html.Hidden("redirectToLogin", Url.Action("Login", "MILogin"));
</html>